<div class="container">
    <h1>Fuel Consumption API</h1>

    <div><a href="/">Back to Home</a></div>

    <h2>Add Vehicle</h2>

    <form action="" class="add-vehicle-form">
        <div>
            <label for="">Description</label>
            <input type="text" id="description-input">
        </div>
        <div>
            <label for="">Reg Number</label>
            <input type="text" id="reg-number-input">
        </div>
        <button type="submit">Submit</button>
    </form>

</div>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="/js/addVehicle.js" type="module"></script>