<div class="container">
    <h1>Fuel Consumption API</h1>
    <div class="menu">
    <div><a href="/add">Add Vehicle</a></div>
    <div><a href="/refuel">Refuel Vehicle</a></div>
    </div>

    <h2>All Vehicles</h2>

    <div class="vehicles-container">
    </div>
</div>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="/js/main.js" type="module"></script>